<h1>Ejercicio 4</h1>

producto
<input type="text" [(ngModel)]="nombreProducto">

cantidad    
<input type="number" [(ngModel)]="cantidadProducto">
<button (click)="add()" >add </button>

<br>
<div class="table-responsive">
    <table class="table table-dark table-hover">
        <thead><tr> 
            <th> Producto </th>
            <th> Cantidad</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos" (click)="eliminar(producto)" >
                <td> {{producto.nombre}}</td>
                <td> {{producto.cantidad}}</td>
            </tr>
        </tbody>
    </table>   
</div>
